.suggestion-result{
    background-color: slategrey;
    margin-top: 0px;
    margin-bottom: auto;
}
.autofocus {
    display: grid;
    justify-content: center;
    text-align: left;
    margin-top: 100px;
}
